---
import Layout from '../layouts/Layout.astro';
import Hero from "@/components/Hero.astro";
import HomeContent from '@/components/HomeContent.astro';
import Founder from '@/components/Founder.astro';
---

<Layout title="SSB Septic Pump">
	<main>
		<Hero />
		<Founder />
		<HomeContent />
	</main>
</Layout>