---
import Layout from '../layouts/Layout.astro';
import Hero from "@/components/Hero.astro";
import HomeContent from '@/components/HomeContent.astro';
import Founder from '@/components/Founder.astro';
---

<Layout 
	title="SSB Septic Pump"
	description="SSB Septic Services offers professional, reliable, and eco-friendly septic system installations, maintenance, and repair services. We ensure top-quality care for residential and commercial septic systems in the greater Seattle and Kent area."
>
	<main>
		<Hero />
		<Founder />
		<HomeContent />
	</main>
</Layout>