---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import check from "../assets/check.svg";
---

<!-- 
1. Septic Services Overview: A brief introduction to the types of septic services offered.
2. Septic Tank Cleaning: Detailed information on tank cleaning services and pricing.
3. Inspection and Certification Services: Details on inspection services, certifications required for home sales, and their respective pricing.
4. Additional Services and Charges: Information on extra services like locating the septic tank, digging fees, and emergency service charges.
5. Discounts and Special Offers: Any available discounts or special pricing options for multiple services or conditions. 
-->

<Layout title="SSB Septic Tank Services">
    <section class="text-center py-16 bg-gradient-to-r from-cyan-500 to-primary text-white">
        <h1 class="text-5xl font-bold mb-4">SSB Pricing</h1>
        <p class="text-xl mb-8">Reliable | Efficient | Affordable | Local</p>
    </section>

    <section class="bg-gray-100 py-16 flex flex-col md:flex-row justify-center items-center gap-8 text-lg">
        <div class="container mx-auto text-center">
            <h2 class="text-4xl font-bold mb-6">Septic Tank Cleaning</h2>
            <div class="text-primary mb-6 inline-block rounded-full bg-white shadow-lg p-2">
                <p class="text-7xl font-bold text-green-600">$575.00 + Tax</p>
            </div>
            <p class="mb-8 text-lg font-light">Our comprehensive cleaning ensures a healthier home and environment, including:</p>
            <div class="text-left mx-auto max-w-xl px-2">
                <ul class="space-y-4">
                    <li class="flex items-center">
                        <Image src={check} alt="Check" class="h-6 w-6 mr-2" />
                        Complete pump out and disposal for up to 1000 gallons.
                    </li>
                    <li class="flex items-center">
                        <Image src={check} alt="Check" class="h-6 w-6 mr-2" />
                        Visual inspection of the tank and components.
                    </li>
                    <li class="flex items-center">
                        <Image src={check} alt="Check" class="h-6 w-6 mr-2 filter-green-500" />
                        Maintenance and usage recommendations.
                    </li>
                    <li class="flex items-center">
                        <Image src={check} alt="Check" class="h-6 w-6 mr-2 filter-green-500" />
                        Available for Emergencies 24/7
                    </li>
                    <!-- Add more items as needed -->
                </ul>
            </div>
            <h3 class="text-3xl font-bold mt-6">Additional Pricing & Offers</h3>
            <div class="flex flex-wrap justify-center gap-4 mt-6 px-2">
                <div class="w-full md:w-1/2 lg:w-1/3 p-4 bg-white rounded-xl shadow-lg hover:shadow-xl transition-shadow duration-300 ease-in-out">
                    <h4 class="text-xl font-bold">Emergency Services</h4>
                    <p class="text-sm">Quick response and support for emergency septic problems.</p>
                    <p class="text-lg font-bold mt-2">Contact for Pricing</p>
                </div>
                <div class="w-full md:w-1/2 lg:w-1/3 p-4 bg-white rounded-xl shadow-lg hover:shadow-xl transition-shadow duration-300 ease-in-out">
                    <h4 class="text-xl font-bold">Tank Locating</h4>
                    <p class="text-sm">Professional services to locate your septic tank accurately.</p>
                    <p class="text-lg font-bold mt-2">Starting at $200</p>
                </div>
                <div class="w-full md:w-1/2 lg:w-1/3 p-4 bg-white rounded-xl shadow-lg hover:shadow-xl transition-shadow duration-300 ease-in-out">
                    <h4 class="text-xl font-bold">Dig Fees</h4>
                    <p class="text-sm">Charges for uncovering septic tank lids, typically required for tank inspection or cleaning.</p>
                    <p class="text-lg font-bold mt-2">Starting at $200 per lid</p>
                </div>
                <div class="w-full md:w-1/2 lg:w-1/3 p-4 bg-white rounded-xl shadow-lg hover:shadow-xl transition-shadow duration-300 ease-in-out">
                    <h4 class="text-xl font-bold">Cleaning and Pumping Services</h4>
                    <ul class="list-disc pl-5 text-sm space-y-2 text-left">
                        <li>Pump/Holding Tank Cleaning (with septic tank pumping): $0.65 per gallon</li>
                        <li>Septic/Pump or Holding tanks up to 500 gallons (with lids exposed): $500 + tax</li>
                    </ul>
                </div>
                <div class="w-full md:w-1/2 lg:w-1/3 p-4 bg-white rounded-xl shadow-lg hover:shadow-xl transition-shadow duration-300 ease-in-out">
                    <h4 class="text-xl font-bold">Dump Trucking Services</h4>
                    <h5 class="text-lg mb-2">Includes:</h5>
                    <div class="grid grid-cols-2 gap-2">
                        <ul class="list-disc pl-5 text-md space-y-2 text-left">
                            <li>Gravel</li>
                            <li>Dirt</li>
                            <li>Asphalt</li>
                        </ul>
                        <ul class="list-disc pl-5 text-md space-y-2 text-left">
                            <li>Bark</li>
                            <li>Topsoil</li>
                            <li>More</li>
                        </ul>
                    </div>
                    <p class="text-lg font-bold mt-2">Contact for More Info</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Process Steps Section -->
    <section class="py-16 bg-blue-100">
        <div class="container mx-auto px-4">
            <h2 class="text-4xl font-bold text-center mb-8">Our Service Process</h2>
            <div class="grid md:grid-cols-3 gap-8">
                <!-- Step 1 Card -->
                <div class="bg-white rounded-xl shadow-xl overflow-hidden">
                    <div class="p-6">
                        <h3 class="text-xl font-semibold mb-4">Step 1: Locating the Septic Tank & Lids</h3>
                        <ul class="list-disc pl-5 space-y-2">
                            <li>Property owner's responsibility to know septic tank lid locations.</li>
                            <li>We assist with locating using county records included in the cost.</li>
                            <li>Electronic locator used if needed, costs $250.00.</li>
                        </ul>
                    </div>
                </div>
                <!-- Step 2 Card -->
                <div class="bg-white rounded-xl shadow-xl overflow-hidden">
                    <div class="p-6">
                        <h3 class="text-xl font-semibold mb-4">Step 2: Excavation of the Septic Tank’s Lids</h3>
                        <ul class="list-disc pl-5 space-y-2">
                            <li>Opportunity to save by uncovering lids prior to arrival.</li>
                            <li>Cost: $185.00 per lid.</li>
                            <li>Hourly labor rate reduced by 38% for digging.</li>
                        </ul>
                    </div>
                </div>
                <!-- Step 3 Card -->
                <div class="bg-white rounded-xl shadow-xl overflow-hidden">
                    <div class="p-6">
                        <h3 class="text-xl font-semibold mb-4">Step 3: Cleaning the Septic Tank</h3>
                        <ul class="list-disc pl-5 space-y-2">
                            <li>Cleaning cost for a 1,000 gallon tank: $650.00 + tax.</li>
                            <li>Over 1,000 gallons: $0.65 per gallon + tax.</li>
                            <li>Additional costs for neglected septic systems.</li>
                            <li>Maintenance neglect may lead to costly repairs.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Terms & Conditions -->
    <section class="w-full bg-gray-100 text-gray-800 py-12">
        <div class="max-w-screen-lg mx-auto px-4 text-left">
            <h3 class="text-3xl font-bold text-gray-800 mb-6">Terms & Conditions</h3>
            <div class="space-y-4">
                <p class="text-lg leading-relaxed">Prices, terms, and conditions are subject to change.</p>
                <p class="text-lg leading-relaxed">SSB Septic reserves the right to deem a property’s septic system unserviceable. Lids that are blocked by such things as buildings, concrete blockings, room additions, decks, trees, heavy brush or just plain junk will be deemed unserviceable.</p>
                <p class="text-lg leading-relaxed">SSB Septic reserves the right to refuse service for any reason.</p>
                <p class="text-lg leading-relaxed">For the safety of our community and employees, we do not operate on snow and ice days.</p>
                <p class="text-lg leading-relaxed">SSB Septic charges a $35 fee for any returned check or non-payment.</p>
            </div>
        </div>
    </section>

    <section class="bg-blue-600 text-white text-center py-8">
        <h2 class="text-3xl font-bold mb-4">Ready to Schedule Your Service?</h2>
        <p class="mb-6">Contact us now to get a quote and schedule your cleaning services.</p>
        <a href="tel:+12068338777" class="bg-white text-blue-600 font-bold py-3 px-6 rounded-lg hover:bg-gray-100 transition-colors duration-300">
            Call Us
        </a>
    </section>


</Layout>
