---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
import Navigation from "@/components/Navigation.astro"
import Footer from "@/components/Footer.astro"
import MetaTags from '@/components/MetaTags.astro';
import { ViewTransitions } from 'astro:transitions';
import logo from "../assets/official-logo-transparent.png"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<MetaTags
			title={title}
			description={description}
			keywords="septic services, septic system repair, septic maintenance, eco-friendly septic solutions, septic tank installation, septic system experts, Seattle septic service, Kent septic service, residential septic services, commercial septic services"
			url="https://ssbseptic.com"
			image="https://ssbseptic.com/_astro/official-logo-transparent.C-WHKZP2_ZEKIeJ.webp"
		/>
		<!-- <ViewTransitions /> -->
		<title>{title}</title>
		<script type="application/ld+json">
          {
            "@context": "https://schema.org",
            "@type": "LocalBusiness",
            "name": "SSB Septic Services",
            "url": "https://ssbseptic.com",
            "telephone": "+1-206-833-8777",
            "address": {
              "@type": "PostalAddress",
              "streetAddress": "25000 180th Ave SE",
              "addressLocality": "Covington",
              "addressRegion": "WA",
              "postalCode": "98042",
              "addressCountry": "US"
            },
            "areaServed": {
              "@type": "Place",
              "name": "Kent and Seattle"
            },
            "description": "Professional septic system installation, pumping, and maintenance services.",
            "image": "https://ssbseptic.com/_astro/official-logo-transparent.C-WHKZP2_ZEKIeJ.webp"
          }
        </script>
	</head>
	<body>
		<Navigation />
		<main style="pt-screen-lg">
			<slot />
		</main>
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
